/* Declaration of constants */
:root {
  --mantisGreen: #7dc95e;
  --russianGreen: #648767;
  --silver: #bfc0c0;
  --lightCyan: #cee7e6;
}
/*Remove margin from the sides of the wepage 
and make it take the full page so we can put footer at bottom,
position relative so the child elements can have positive absolute and base 
its position according to the whole body*/
html,
body {
  margin: 0;
  height: 100%;
  position: relative;
}

/*Change color of header to green*/
.header {
  /* position: fixed;
  width: 100%; */
  background-color: var(--mantisGreen);
  display: flex;
  /* position: fixed; */

  /*Move elements to the borders (logo left - links right)*/
  justify-content: space-between;

  /*Add padding to header*/
  padding: 0 30px; /*= padding vertically, 40pc horizontal*/

  /*Allow to create a second row if theres not enough space in the header*/
  flex-wrap: wrap;

  /*Making header absolute position so child elements can have relative size to this*/
  /* position:absolute; */
}
/*Transform List items to inline*/
.header-list {
  /*Remove dots in list*/
  list-style: none;
  margin: 0;
  padding: 0;
  /*Show all list items in one line and centered*/
  display: flex;
  align-items: center;
  /*Change properties of letters*/
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

/*Remove underline from link*/
.header-list a {
  text-decoration: none;
  color: white;
}

/*Change colors of buttons when hover */
.header-list a:hover {
  text-decoration: none;
  color: var(--russianGreen);
}

/*Separate buttons*/
.header-list li {
  margin: 7px;
}

/*Adjusting logo*/
.header img {
  /* width: 10px; */
  height: 80px;
  object-fit: scale-down;
  margin: 0;
  padding: 7px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.6;
  /* padding: 30px; */
  color: #777;
}

/***********************************************/
/* SECTION ABOUT */
/***********************************************/

.section-location {
  padding: 50px 0;
  /* background-image: linear-gradient(105deg, #ddd, #fff); */
  position: relative;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.location-text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.heading-secondary,
.heading-tertiary {
  text-transform: uppercase;
}

.heading-secondary {
  font-size: 52px;
  margin-bottom: 24px;
  color: #648767;
}

.heading-tertiary {
  font-size: 24px;
  margin-bottom: 18px;
}

.text {
  font-size: 16px;
  margin-bottom: 44px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 64px;
}

.data {
  padding: 24px;
  border-radius: 9px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

i {
  display: inline-block;
  font-size: 32px;
  color: #7dc95e;
  padding: 12px 12px;
  box-shadow: 0 30px 60px rgba(256, 256, 256, 15);
  /* background-color: rgba(100, 135, 103, 0.08); */
  border-radius: 50%;
  margin-bottom: 12px;
}
.location-map {
  display: flex;
  justify-content: center;
}

.map {
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.5s;
}

.map:hover {
  border-radius: 9px;
  transform: scale(1.1);
  width: 60%;
}

.link,
.link:link,
.link:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 24px;
  padding: 12px 24px;
  border-radius: 5px;
  color: var(--russianGreen);
  /* background-color: #648767; */
  transition: all 0.3s;
  transform: scale(1.05);
}

.link:hover,
.link:active {
  background-color: #839f85;
  transform: scale(1.13);
  color: #333;
}

.btn {
  /* width: 60%; */
  margin: 3rem auto;
  text-align: center;
  /* position: relative; */
}

footer {
  background-color: var(--silver);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  /* position: absolute; */
  width: 100%;
  /*Comment or uncomment following lines of code according to needs*/
  bottom: 0;
  margin-bottom: 0;
}

footer #contact_us_footer {
  padding-left: 15px;
  font-family: "Roboto Slab", serif;
}

footer #copyright_footer {
  padding-right: 20px;
  font-family: "Roboto Slab", serif;
}
