/* Declaration of constants */
:root
{
  --mantisGreen: #7DC95E;
  --russianGreen: #648767;
  --silver: #BFC0C0;
  --lightCyan: #CEE7E6;
  
}
/*Remove margin from the sides of the wepage 
and make it take the full page so we can put footer at bottom,
position relative so the child elements can have positive absolute and base 
its position according to the whole body*/
html, body
{
  margin:0;
  height: 100%;
  position: relative;
}

/*Change color of header to green*/
.header
{
  /* position: fixed;
  width: 100%; */
  background-color: var(--mantisGreen);
  display: flex;
  /* position: fixed; */
 
  /*Move elements to the borders (logo left - links right)*/
  justify-content: space-between;
  
  /*Add padding to header*/
  padding: 0 30px; /*= padding vertically, 40pc horizontal*/
  
  /*Allow to create a second row if theres not enough space in the header*/
  flex-wrap: wrap;
  
  /*Making header absolute position so child elements can have relative size to this*/
  /* position:absolute; */
  
}
/*Transform List items to inline*/
.header-list
{
  /*Remove dots in list*/
  list-style: none;
  margin:0;
  padding:0;
  /*Show all list items in one line and centered*/
  display: flex;
  align-items: center;
  /*Change properties of letters*/
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  
}

/*Remove underline from link*/
.header-list a
{
  text-decoration: none;
  color: white;
}

/*Change colors of buttons when hover */
.header-list a:hover
{
  text-decoration: none;
  color: var(--russianGreen)
}

/*Separate buttons*/
.header-list li
{
  margin: 7px;
}

/*Adjusting logo*/
.header img
{
    /* width: 10px; */
    height: 80px;
    object-fit: scale-down;
    margin: 0;
    padding: 7px;
    
}

footer
{
  background-color: var(--silver);
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 20px 0;
  position: absolute;
  
  /* margin-bottom: 0; */
  width: 100%

}


footer #contact_us_footer
{
  padding-left: 15px;
  font-family: 'Roboto Slab', serif;
}

footer #copyright_footer
{
  padding-right: 20px;
  font-family: 'Roboto Slab', serif;
}

/* ********* 
**********
******
****
**
CSS FOR HOME PAGE 
*
***
****
*******
********* */
.upper-home img
{
  width: 100%;
  height: 45%;
  opacity: .35;
  position: relative;
  filter: blur(11px);
}

.center-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script';
  font-weight: 700;
  
  font-size: 3.2em;
  color: var(--russianGreen);
}
@media (max-height:800px){
  .center-text {
  
    font-size: 2.8em;
    
  }
} 

.column img
{
  width:20%;
  opacity: .2;
  border-radius: 10px;
  margin-top: 10px;
  filter: brightness(65%);
}
.column img:hover
{
  filter: brightness(30%);
  
} 
.row
{
  display: flex;
  position: relative;
}
.row a
{
  text-decoration: none;
  color: var(--russianGreen);
}
.column
{
  flex: 40%;
  padding: 12px;
  position: relative;
  
}
.center-text-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script';
  font-weight: 700;
  
  font-size: 2em;
  color: var(--russianGreen);
}

.low-home
{
  background-color: var(--mantisGreen);
  opacity: 0.8;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px 15px;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS',sans-serif;
 
  font-size: small;
  position: relative;
  text-align: center;
  color: whitesmoke;
  
}

.home-page
{
  position: relative;
}